body{
       background-image:linear-gradient(rgba(0,0,0,1.5),rgba(0,0,0,0.5));
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-family: 'Sansita', sans-serif;
        color: yellow;
}