body{
       background-color:violet;
        height: 100vh;
        background-repeat: no-repeat;

        background-position: center;
        font-family: 'Sansita', sans-serif;
        color: white;
}